{{ template "header.html" . }}

<div class="card gate-card mt-2 shadow-md">
  <div class="card-body gap-6">
    <h2 class="font-display text-xl font-semibold">Enter User Code</h2>
    <form method="post" action="{{ .PostURL }}" class="flex flex-col gap-4">
      {{ if( .UserCode )}}
      <input tabindex="2" required id="user_code" name="user_code" type="text" class="input w-full" autocomplete="off"
        value="{{.UserCode}}" {{ if .Invalid }} autofocus {{ end }} />
      {{ else }}
      <input tabindex="2" required id="user_code" name="user_code" type="text" class="input w-full"
        placeholder="XXXX-XXXX" autocomplete="off" {{ if .Invalid }} autofocus {{ end }} />
      {{ end }}

      {{ if .Invalid }}
      <div id="login-error" class="alert alert-error alert-soft">
        Invalid or Expired User Code
      </div>
      {{ end }}
      <button tabindex="3" id="submit-login" type="submit" class="btn btn-primary w-full">Submit</button>
    </form>
  </div>
</div>

{{ template "footer.html" . }}
