{{ template "header.html" . }}

<div class="card panel mt-2">
  <div class="card-body gap-6">
    <h1 class="page-title">Log in to Your Account</h1>
    <form method="post" action="{{ .PostURL }}" class="flex flex-col gap-4">
      <fieldset class="fieldset">
        <label class="fieldset-legend" for="login">{{ .UsernamePrompt }}</label>
        <input tabindex="1" required id="login" name="login" type="text" class="input w-full" placeholder="{{ .UsernamePrompt | lower }}" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }}/>
        <label class="fieldset-legend" for="password">Password</label>
        <input tabindex="2" required id="password" name="password" type="password" class="input w-full" placeholder="password" {{ if .Invalid }} autofocus {{ end }}/>
      </fieldset>

      {{ if .Invalid }}
        <div id="login-error" role="alert" class="alert alert-error alert-soft">
          Invalid {{ .UsernamePrompt }} and password.
        </div>
      {{ end }}

      {{ if .ShowRememberMe }}
      <label class="flex items-center gap-2 text-sm">
        <input tabindex="3" type="checkbox" name="remember_me" class="checkbox checkbox-sm" {{ if .RememberMeChecked }}checked{{ end }}/>
        Remember me
      </label>
      {{ end }}

      <button tabindex="4" id="submit-login" type="submit" class="btn btn-primary w-full">Login</button>
    </form>
    {{ if .BackLink }}
    <a class="link link-hover meta text-center" href="{{ .BackLink }}">Select another login method.</a>
    {{ end }}
  </div>
</div>


<script type="text/javascript">
  document.querySelector('form').onsubmit = function(e) {
    var el = document.querySelector('#submit-login');
    el.setAttribute('disabled', 'disabled');
  };
</script>

{{ template "footer.html" . }}
