# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# System Files
.DS_Store
Thumbs.db

# Go workspace file
go.work
go.work.sum

config.yaml
.env

docker-compose.override.yaml
