go 1.25.4

use (
	./apps/hub
	./libs/notifier
	./libs/notifierapi
	./libs/pluginapi
	./libs/pluginconfig
	./plugins/gwp
	./plugins/parking
	./plugins/pensions
	./plugins/tbilisi-energy
	./plugins/telasi
)
